.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #101010;
  padding: 1rem 2rem;
  color: white;
  position: relative;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.hamburger {
  font-size: 24px;
  cursor: pointer;
  user-select: none;
}

.navbar-links.desktop {
  display: flex;
  gap: 1.5rem;
}

.navbar-links.mobile {
  position: absolute;
  top: 60px;
  right: 10px;
  background-color: #1f1f1f;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}
.navbar-links.mobile :hover {
color: #ff6200;
}

.nav-link {
  color: rgb(252, 248, 248);
  text-decoration: none;
  margin: 0.5rem 0;
}

.nav-link:hover {
  color: #00d8ff;
}

@media (max-width: 768px) {
  .navbar-links.desktop {
    display: none;
  }

  .hamburger {
    display: block;
  }
}

@media (min-width: 769px) {
  .hamburger {
    display: none;
  }
}
